@tailwind base;
* {
    scrollbar-width: 2px;
    scrollbar-color: hsl(var(--s)) hsl(var(--p));
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: hsl(var(--p));
    border-radius: 5px;
    opacity: 0.3;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--s));
    border-radius: 5px;
    opacity: 0.3;
    border: 1px solid hsl(var(--s));
  }
@tailwind components;
@tailwind utilities;
@layer utilities {

        .max-w-4xs          { max-width: 8rem; }
        .max-w-3xs          { max-width: 12rem; }
        .max-w-2xs          { max-width: 16rem; }

        .min-w-0             { min-width: 0rem; }
        .min-w-none       { min-width: none; }
        .min-w-4xs          { min-width: 8rem; }
        .min-w-3xs          { min-width: 12rem; }
        .min-w-2xs          { min-width: 16rem; }
        .min-w-xs	        { min-width: 20rem; }
        .min-w-sm	        { min-width: 24rem; }
        .min-w-md	        { min-width: 28rem; }
        .min-w-lg	        { min-width: 32rem; }
        .min-w-xl	        { min-width: 36rem; }
        .min-w-2xl	        { min-width: 42rem; }
        .min-w-3xl	        { min-width: 48rem; }
        .min-w-4xl	        { min-width: 56rem; }
        .min-w-5xl	        { min-width: 64rem; }
        .min-w-6xl	        { min-width: 72rem; }
        .min-w-7xl	        { min-width: 80rem; }
        .min-w-full	        { min-width: 100%; }
        .min-w-min	        { min-width: min-content; }
        .min-w-min	        { min-width: min-content; }
        .min-w-prose        { min-width: 65ch; }
        .min-w-screen-sm    { min-width: 640px; }
        .min-w-screen-md	{ min-width: 768px; }
        .min-w-screen-lg	{ min-width: 1024px; }
        .min-w-screen-xl	{ min-width: 1280px; }
        .min-w-screen-2xl	{ min-width: 1536px; }

}